*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden !important;
}

:root{
    --main-color: #c6c6fa;
    --secondary-color: #1e1847;
}


section{
    padding: 5%;
}

h2{
    font-family: 'Righteous', cursive;
    font-size: 3.25rem;
    line-height: 125%;
    padding: 1rem 0rem;
}
h3{
    font-family: 'Righteous', cursive;
    font-size: 1.25rem;
    line-height: 125%;
}
nav{
    font-family: 'Righteous', cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav svg{
    cursor: pointer;
    z-index: 10;
}
.links{
   position: absolute;
   background: white;
   width: 100%;
   height: 100vh;
   left: 0;
   top: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   transform: translateX(100%);

}
.links a{
    color: var(--secondary-color);
    font-size: 2rem;
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    font-family: 'Righteous', cursive;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.logo img{
    width: 1.5rem;
}

.front-page{
    min-height: 100vh;
    color: white; 
   
}


.selling-point{
    margin-top: 25vh;
    font-family: 'Righteous', cursive;    
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.499);
    text-align: center;
}

.selling-point h3{
    font-family: sans-serif;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.499);
}
.ctas{
    margin-top: 2rem;
}
.ctas button{
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 7px 20px rgba(255, 255, 255, 0.93);
    margin: 1rem;
    cursor: pointer;

}
.cta-main{
    background-color: var(--main-color);
    color: var(--secondary-color);
    
}

.cta-sec{
    background-color: var(--secondary-color);
    color: white;
}

.hero{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    
}

.services{
    color: var(--secondary-color);
    text-align: center;
    font-family: "orgonite", sans-serif;
}

.videos video{
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
}

.beat,
.mix,
.studio{
    position: relative;
}
.videos h3{
    position: absolute;
    color: var(--main-color);
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.383);
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%); /*makes the h3 exactly in the middle of video */
    font-size: 2rem;
}

.about{
    color: var(--secondary-color);

}

.about h2{
    font-family: 'Righteous', cursive;
    text-align: center;
}

.about p{
    line-height: 150%;
    font-size: 1.2rem;
}

.about img{
    width: 100%;
    margin-top: 2rem;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.383);
}

.signature{
    font-family: 'Nothing You Could Do', cursive;
    text-align: end;
    padding-top: 1rem;
}

footer{
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: linear-gradient(to bottom, #fff , var(--secondary-color));
    color: white;
    font-size: 12px;
    padding: 20px;
    text-align: center;
}
footer a{
    color: white;
    font-size: 1rem;
}
@media screen and (min-width: 768px){
    
    .videos{
        display: flex;
        gap:2rem;
    }
    .videos video{
        width: 20rem;
    }
    .services{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .about{
        display: flex;
        gap:5rem;
        justify-content: space-between;
    }
    .about img{
        width: 40%;
    }
    .about h2{
        text-align: start;
    }
}


.wave {
    position: relative;
}

.wave span {
    position: relative;
    display: inline-block;
    color: #ffffff;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(.1s*var(--i));
    z-index: -1;
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-20px);
    }

    40%,
    100% {
        transform: translateY(0px);
    }
}